#ansible-playbook site.yml -i 192.168.0.10,
#ansible-playbook site.yml -i 172.31.79.90,
---
- name: Deploy neurostars.org Django website, PostgreSQL
  hosts: all
  user: root
  gather_facts: no

  roles:
    - ../common

  tasks:
    - name: "Set the hostname"
      shell: hostname {{ hostname }}

    - name: "Ensure basic system (and ansible deps) packages are installed"
      apt: pkg={{ item }} state=present update_cache=yes
      with_items:
        - vim
        - rsync
        - git
        - curl
        - sudo
        - docker.io
        - unattended-upgrades

    - name: "Complete docker installation"
      shell: ln -sf /usr/bin/docker.io /usr/local/bin/dockers
      sudo: yes

    - name: "Run a postgresql container"
      docker:
        image=orchardup/postgresql
        name=postgresql
        ports=5432:5432
        env="POSTGRESQL_USER=docker,POSTGRESQL_PASS=docker,POSTGRESQL_DB=docker"




#    - name: "Build Dockerfiles"
#      ......
#      docker build -t neurostars/postgresql - < Dockerfile-postgresql
#      docker build -t neurostars/biostar - < Dockerfile-webapp
#      sudo: yes

#    - name: "Ensure Postgresql container is running"
#      docker: image=neurostars/postgresql name=postgresql publish_all_ports=True
#      sudo: yes

#    - name: "Ensure web app container is running"
#      docker: image=neurostars/biostar name=biostar ports=8000:8000 links=postgresql:pg
#      sudo: yes