[uwsgi]
uid = www-data
gid = www-data
http = 127.0.0.1:9090
virtualenv = {{ www_neuro }}/.venv
chdir = {{ www_neuro }}
pythonpath = {{ www_neuro }}
pythonpath = {{ www_neuro }}/main
vacuum = true
env = DJANGO_SETTINGS_MODULE=main.settings
module = django.core.handlers.wsgi:WSGIHandler()
master = True
workers = 12
plugins = python
pidfile = /var/run/uwsgi_neurostars.org_master.pid
